<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Todolist Application">
    <meta name="author" content="Timea Pahi">
    <meta http-equiv="refresh" content="60">
    <title>{% block sitetitle %}Todolist Application{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block header %}
          <header>
            <h3><a href="{% url 'overview' %}">TO-DO</a></h3>
            <nav>
                <ul>
                     <li><a href="/todolist/logout" id="logout_link">Logout</a>
                 </ul>   
            </nav>
    {% endblock %}
        <hr>
        </header>
        <div id="content">
            {% block content %}{% endblock %}

        </div>
    </body>
</html>

