{% extends 'base.html' %}
{% block sitetitle %}
		{% if form.instance == entry %}Ändern{% else %}Hinzufügen{% endif %}
{% endblock %}

{% block header %}
<ul>
	<li><a href="{% url 'overview' %}" class="overview">Übersicht</a></li>
	<li><a href="/todolist" id="overview_link">Zurück</a></li>
	<li><a href="/todolist/logout" id="logout_link">Logout</a>
</ul>

{% endblock%}

{% block content %}
{% if form.instance == entry %}
<section class="edit">
	<h3 style = "color:blue" > Ändern </h3 >
	<form action = "{% url 'edit' entry.id %}" method = "post" >
	{% csrf_token %}
	<table>
	{% for field in form %}
		<tr>
			<td>
			{{ field.label_tag }}
			</td>
			</td>
			{{ field }}
			</tr>
			<td>
			{{ field.errors }}
			</td>
		</tr>
		{% endfor %}
	</table>

	<nav>
		<ul>
			<li><input type = "submit" value = "Sichern"/></li>
			<li><a href="{% url 'overview' %}">Abbrechen</a></li>
			<li><a href="{% url 'delete' entry.id %}" id="delete_link">Löschen</a></li>

		</ul>
	</nav>

	</form>
</section>

{% else %}
<section class="add">
	<h3 style = "color:blue">Hinzufügen</h3>
	<form action = "{% url 'add' %}" method ="post">
    {% csrf_token %}

    {% for field in form %}
			{{ field.label_tag }}
			{{ field }}
			{{ field.errors }}<br>
		{% endfor %}
    <nav>
    	<ul>
			<li><input type = "submit" value = "Abschicken"/></li>
			<li><a href="{% url 'overview' %}" id="abort_link">Abbrechen</a></li>
		</ul>
	</nav>
	</form>
{% endif %}
</section>
{% endblock %}
