{% extends 'base.html' %}
{% block sitetitle %}Übersicht{% endblock %}

{% block header %}
<ul>
    <li><a href="{% url 'add' %}" class="add">Neue Aufgabe</a></li>
    <li><a href="{% url 'logout' %}">Ausloggen</a></li>
</ul>
{% endblock %}


{% block content %}
<section>
    <header>
        <h3 style = "color:red" >OFFEN</h3>
    </header>
    
    {% for e in open_list %}
    {% if e.done = False %}
        <article>
            <h4>{{e.title}}</h4>
            <p class="subtitle">
                Aufgabe ist zu erledigen bis  
                {% if e.due_date %}
                    <time datetime="{{ e.due_date }}">{{ e.due_date |date:"d. F. Y"}}, </time>
                {% else %}
                    irgendwann
                {% endif %} 

                {% if e.due_time %}
                    <time datetime="{{ e.due_time }}">{{ e.due_time|time:"H:i"}} Uhr </time>
                {% else %}
                    irgendwann
                {% endif %}
            </p>
            <p class="description">
            {% if e.description %}
                    Beschreibung:{{ e.description }}
                {% else %}
                    Keine Beschreibung
                {% endif %}
            </p>           

            <nav>
                <ul>
                    <li><a href="{% url 'edit' e.id %}" id="edit_link">Ändern</a></li>
                    <li><a href="{% url 'switch' e.id %}" id="switch_link">Switch</a></li>
        
                </ul>
            </nav>
        </article>
    {% endif %}
{% endfor %}
</section>
<hr>
<section>
    <header>
        <h3 style = "color:green" >ERLEDIGT</h3>
    </header>
    {% for e in done_list %}
        {% if e.done = True %}
        <article>
            <h4>{{e.title}}</h4>
            <p class="subtitle">
                Die Aufgabe war bis  
                {% if e.due_date %}
                    <time datetime="{{ e.due_date }}">{{ e.due_date|date:"d. F. Y" }}, </time>
                {% else %}
                    irgendwann
                {% endif %} 

                {% if e.due_time %}
                    <time datetime="{{ e.due_time }}">{{ e.due_time|time:"H:i" }} Uhr erledigt</time>
                {% else %}
                    irgendwann
                {% endif %}
            </p>
            <p class="description">
            {% if e.description %}
                    Beschreibung:{{ e.description }}
                {% else %}
                    Keine Beschreibung
                {% endif %}
            </p>

            <nav>
                <ul>
                  <li><a href="{% url 'edit' e.id %}" id="edit_link">Ändern</a></li>
                  <li><a href="{% url 'switch' e.id %}" id="switch_link">Switch</a></li>
                
                </ul>
            </nav>
        </article>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}
